[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "globalKinhom"]
	path = globalKinhom
	url = https://github.com/cran/globalKinhom
	shallow = true
	registered = true
